
body{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    color: white;
}
#display{
    width:49%;
    height:20%;
    background-color: black;
    border-color: black;
    outline: none;
    color: white;
    font-size: 21px;
}

section{
    display: flex;
    flex-direction: column;
    width:600px;
    height: 450px;
    justify-content: center;
    align-items: center;
}

article{
    width:50%;
    height:75%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    cursor: pointer;
}

article div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(27, 27, 27);
    flex-grow: initial;
    text-align: center;
    line-height: 50px;
}
span{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
span:last-child i{
    background-color: rgb(88, 86, 86);
    border-radius: 50%;
    padding:15px;
}

span:hover{
    background-color: rgb(88, 86, 86);
    border-radius: 50%;
}
span:last-child:hover{
    background-color: rgb(27, 27, 27);
}
